*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
span{
    color: #ff5a00;
}
section{
    color: #fff;
    padding: 100px 100px;
}
.title{
    font-size: 50px;
    margin: 30px;
    text-align: center;
    font-weight: bold;
}
.about .title{
    text-align: start;
}
img{
    max-width: 100%;
}
/* header start */
body{
    background-image: ;
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.nav-list{
    display: flex;
    gap: 30px;
    
}
.nav-list li{
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    color: #fff; 
}
.banner-title-and-others{
    padding-left: 100px;
}
.btn_primary{
    padding: 10px 20px;
    background-color: #ff5a00;
    color: #fff;
    border-radius: 7px;
    border-style: none;
    margin-top: 30px;
    cursor: pointer;
}
header{
    background-image: url(assets/background.jpg);
    background-size: cover;
    height: 950px;
    width: 100%;
    background-position: center;
}
.main-nav h3{
    color: #fff;
}
.banner{
    display: flex;
    align-items: center;
    height: 750px;
}
.banner h1{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
}
.banner h1 span{
    color: #ff5a00;
}
.banner h3{
    color: #fff;
    font-size: 40px;
}
.banner p{
    color: #fff;
    width: 400px;
    font-size: 20px;
    margin: 40px 0;
}
/* header end */

/* about section starting */

.about{
    background-color: #212121;
    
}
.container{

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-content p{
    margin: 30px;
    line-height: 50px;
    width: 600px;
}
.about-profile img{
    width: 100%;
    border-radius: 16px;
    box-shadow: 4px 5px 4px  #ff5a00;
}

/* about section end */

/* service section */

.services{
    background-color: #2a2a2a;
    /* height: 400px; */
}

.service-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 80px;
}
.single-service{
    background-color: #212121;
    padding: 50px;
    border-radius: 6px;
    border-radius: 16px;
}
.single-service i{
    font-size: 30px;
    margin-bottom: 20px;
}
.single-service h3{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #ff5a00;
}
.single-service p{
    margin-bottom: 20px;
    font-size: 14px;
}
.btn-secondry{
    background-color: #2a2a2a;
    color: #fff;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

/* project section */
.portfolio-image{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: inline-block;
}
.roof-of-image{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding-top: 30%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    transform: translateY(100%);
    border-radius: 20px;
}
.roof-of-image h3{
    font-size: 30px;
}
.portfolio-image:hover .roof-of-image{
    transform: translateY(0);
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.projects{
    background-color: #212121;
}

/* contact starting */
.contact{
    background-color: #2a2a2a;
    display: flex;
    justify-content: space-around;
}
.form-side form input{
    width: 300px;
    border: none;
    font-size: 18px;
    padding: 16px 30px;
    margin-bottom: 20px;
    margin-right: 33px;
    outline: none;
    border-radius: 8px;

}
textarea{
    width: 639px;
    height: 271px;
    padding: 30px;
    font-size: 18px;
    outline: none;
    border-radius: 8px;
}
.title-side p{
    color: #fff;
    width: 387px;
}
/* ending all section */
.footer{
    background-color: #212121;
    text-align: center;
    padding: 20px;
    color: #fff;

}
.footer span{
    font-weight: 600;

}

/* media query */
@media only screen and (max-width: 768px) {
    /* .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .banner h1{
        font-size: 30px;
    }
    .banner h3{
        font-size: 30px;
    }
    .banner p{
        font-size: 20px;
    }
    .container{
        flex-direction: column;
    }
    .about-content p{
        width: 100%;
    }
    .service-row{
        grid-template-columns: repeat(1, 1fr);
    }
    .projects-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact{
        flex-direction: column;
    }
    .form-side form input{
        width: 100%;
    }
    .title-side p{
        width: 100%;
    }
    .main-nav{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 30px;
    } */
    .banner-title-and-others{
        padding-left: 20px;
    }
    .banner-title-and-others p{
        width: auto;
    }
    .main-nav{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 30px;
    }
    .container{
        flex-direction: column;
    }
    .about-content p{
        width: auto;
    }
    section{
        padding: 100px 50px;
    }
    .service-row{
        grid-template-columns: repeat(1, 1fr);
    }
    .projects-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact{
        flex-direction: column;
    }
    .form-side from input{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    .title-side{
        margin-bottom: 30px;
    }
}